* {
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0; }

#intro, #eat, #work, #flight, #sea, #sea1, #ocean {
  overflow: hidden; }

#intro {
  background-image: url("../img/ss4.png");
  height: 673px;
  position: relative; }
  #intro #mouse-run-ngang {
    position: absolute;
    top: 30px;
    -webkit-animation: flight 30s linear infinite;
    animation: flight 30s linear infinite; }
  #intro #intro-small, #intro #intro-wow, #intro #intro-big {
    position: absolute;
    border-radius: 50%;
    border: 15px solid white; }
  #intro #intro-small {
    top: 500px;
    background: black;
    color: white;
    text-align: center;
    padding: 0px 5px;
    display: none; }
    #intro #intro-small span {
      font-weight: bold;
      font-size: 19px;
      line-height: 70px; }
  #intro #intro-wow {
    position: absolute;
    top: 330px;
    display: none;
    left: 70px; }
    @media (max-width: 425px) {
      #intro #intro-wow {
        left: 99px; } }
  #intro #intro-big {
    top: 100px;
    left: 180px;
    background: #231f1f;
    border-radius: 0px;
    font-size: 13px;
    padding: 10px 20px;
    color: white; }
    @media (max-width: 1024px) {
      #intro #intro-big {
        top: 80px; } }
    @media (max-width: 425px) {
      #intro #intro-big {
        left: 2px; } }
    @media (max-width: 425px) {
      #intro #intro-big {
        top: 50px; } }
    #intro #intro-big .color-xanh {
      color: #03e4e7; }
    #intro #intro-big .color-do {
      color: #e70354; }
    #intro #intro-big .color-vang {
      color: #fbc403; }
    #intro #intro-big .color-cay {
      color: #7fe703; }
    #intro #intro-big .lui-dong {
      text-indent: 20px; }
    #intro #intro-big .lui-dong2 {
      text-indent: 40px; }

#eat {
  background: #b1cbbb;
  position: relative; }
  #eat .moddle {
    position: absolute;
    top: 240px;
    right: 150px; }
    @media (max-width: 1024px) {
      #eat .moddle {
        right: 100px; } }
    @media (max-width: 768px) {
      #eat .moddle {
        right: 60px;
        top: 200px; } }
    @media (max-width: 425px) {
      #eat .moddle {
        right: 20px; } }
    @media (max-width: 375px) {
      #eat .moddle {
        right: 40px; } }
    @media (max-width: 325px) {
      #eat .moddle {
        right: 13px; } }
  #eat .content-eat {
    border-radius: 50%;
    background: #c94c4c;
    border: 21px solid white;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12), 0 29px 33px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12), 0 29px 33px 0 rgba(0, 0, 0, 0.12);
    color: white;
    text-align: center; }
    #eat .content-eat h2 {
      font-size: 35px;
      font-weight: bold; }
    @media (max-width: 768px) {
      #eat .content-eat {
        height: 200px;
        width: 200px;
        border: 10px solid white; } }
    @media (max-width: 325px) {
      #eat .content-eat {
        height: 162px;
        width: 162px; } }
  #eat .eat-one, #eat .eat-three {
    border-radius: 5px; }
    #eat .eat-one h2, #eat .eat-three h2 {
      font-size: 45px;
      line-height: 1.8;
      margin-top: 40px; }
      @media (max-width: 768px) {
        #eat .eat-one h2, #eat .eat-three h2 {
          font-size: 28px;
          line-height: 2.4;
          margin-top: 26px; } }
      @media (max-width: 325px) {
        #eat .eat-one h2, #eat .eat-three h2 {
          font-size: 20px;
          line-height: 2.3; } }
  #eat .eat-one {
    margin-top: 100px; }
  #eat .eat-two {
    margin-top: 30px;
    height: 100px;
    width: 100px;
    border: 4px solid white; }
    #eat .eat-two h2 {
      font-size: 20px;
      line-height: 2.7; }
    @media (max-width: 768px) {
      #eat .eat-two {
        margin-left: 110px; } }
    @media (max-width: 425px) {
      #eat .eat-two {
        margin-left: 150px; } }
    @media (max-width: 325px) {
      #eat .eat-two {
        margin-left: 108px; } }
  #eat .eat-three {
    margin-top: 30px;
    margin-bottom: 100px; }

#work {
  background: #eea29a; }
  #work .content-work {
    margin-top: 80px; }
  #work .work-margin2 {
    margin-top: 80px;
    margin-bottom: 80px; }
  #work .center {
    text-align: center; }

#flight {
  background-image: url("../img/nen-xanh.jpg");
  position: relative;
  border-bottom: 20px solid white;
  border-top: 20px solid #f3f3f3; }
  #flight .umberla {
    position: absolute;
    top: 0px;
    right: 200px; }
    @media (max-width: 1024px) {
      #flight .umberla {
        right: 110px; } }
    @media (max-width: 768px) {
      #flight .umberla {
        right: 70px; } }
    @media (max-width: 375px) {
      #flight .umberla {
        right: 50px; } }
    @media (max-width: 325px) {
      #flight .umberla {
        right: 22px; } }
  #flight .content-flight {
    border-radius: 50%;
    background: none;
    border: 21px solid none;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12), 0 29px 33px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.12), 0 29px 33px 0 rgba(0, 0, 0, 0.12);
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 0px;
    height: 280px; }
    #flight .content-flight h2 {
      font-size: 35px;
      font-weight: bold; }
    @media (max-width: 375px) {
      #flight .content-flight {
        margin-left: 35px; } }
    @media (max-width: 325px) {
      #flight .content-flight {
        margin-left: 10px; } }
  #flight .f-two {
    margin-top: 50px; }
  #flight .f-three {
    margin-bottom: 145px; }

#sea {
  background-image: url("../img/nen-sea-wave.jpg");
  height: 150px;
  position: relative; }

#sea1 {
  background-image: url("../img/wave-bac-re.png");
  height: 700px;
  position: relative;
  background-repeat: repeat; }
  #sea1 .full-song, #sea1 .full-song1 {
    position: absolute;
    bottom: 50px;
    left: 0px;
    right: 0px;
    background-image: url(../img/wave-re.png);
    height: 287px; }
  #sea1 .full-song {
    z-index: 2; }
  #sea1 .full-song1 {
    bottom: -40px;
    z-index: 4; }
  #sea1 .sea-fish1 {
    position: absolute;
    top: 328px;
    -webkit-animation: myfirst 25s ease-in infinite;
    animation: myfirst 25s ease-in infinite;
    z-index: 3; }
  #sea1 .sea-fish2 {
    position: absolute;
    top: 350px;
    -webkit-animation: mysecond 45s ease infinite;
    animation: mysecond 45s ease infinite;
    z-index: 3; }
  #sea1 .sea-fish3 {
    position: absolute;
    top: 308px;
    -webkit-animation: mysecond 30s ease-out infinite;
    animation: mysecond 30s ease-out infinite;
    z-index: 3; }

#ocean {
  background-image: url("../img/dai-duong-nho.png");
  height: 620px;
  position: relative; }
  #ocean .fish1 {
    position: absolute;
    top: 450px;
    -webkit-animation: mysecond 50s ease-in-out infinite;
    animation: mysecond 50s ease-in-out infinite; }
  #ocean .fish2 {
    position: absolute;
    top: 200px;
    -webkit-animation: mysecond 75s ease-out infinite;
    animation: mysecond 75s ease-out infinite; }
  #ocean .fish0 {
    position: absolute;
    top: 300px;
    -webkit-animation: myfirst 60s linear infinite;
    animation: myfirst 60s linear infinite; }
  #ocean .fish4 {
    position: absolute;
    top: 260px;
    -webkit-animation: myfirst 60s ease-in infinite;
    animation: myfirst 60s ease-in infinite; }
  #ocean .fish5 {
    position: absolute;
    top: 100px;
    -webkit-animation: myfirst 90s ease infinite;
    animation: myfirst 90s ease infinite; }
  #ocean .ong-hut {
    position: absolute;
    z-index: 1000000;
    bottom: 0px;
    left: 200px; }
    @media (max-width: 375px) {
      #ocean .ong-hut {
        left: 80px; } }
    @media (max-width: 325px) {
      #ocean .ong-hut {
        left: 54px; } }

@keyframes flight {
  from {
    right: 0px; }
  to {
    right: 1370px; } }
@-webkit-keyframes myfirst {
  from {
    left: -100px; }
  to {
    left: 1370px; } }
@keyframes myfirst {
  from {
    left: -100px; }
  to {
    left: 1370px; } }
@-webkit-keyframes mysecond {
  from {
    right: -90px; }
  to {
    right: 1370px; } }
@keyframes mysecond {
  from {
    right: -100px; }
  to {
    right: 1370px; } }

/*# sourceMappingURL=style.css.map */
