body {
	padding: 0;
	margin: 0;
}
main {
	width: 210mm;
	height: 297mm;
	background: url(img/bg18.jpg);
	margin: 0 auto;
	background-size: contain;
  background-repeat: repeat;
  position: relative;
}
.container {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border: 1px solid white;
	background: #ffffffd6;
}
.header {
  height: 160px;
  padding: 30px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_content {
  box-sizing: border-box;
  position: relative;
}
.header_content .img {
  background: #1C2331;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.header_content .img img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  padding: 10px;
}
.header_content .git {
  padding-top: 22px;
  color: #1C2331;
}
.header_content .title,
.skill .title,
.hire .title,
.experience .title,
.professional-skill .title,
.education .title {
  text-transform: uppercase;
  font-size: 20px;
  color: #1C2331;
  padding-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.header_content-left{
  width: 160px;
  height: 160px;
  border-radius: 100%;
}
.header_content-right {
  width: 77%;
  padding-left: 20px;
  font-family: 'Rosarivo', serif; 
  font-size: 14px;
  font-weight: 500;
}
.contact {
  padding: 5px 10px;
  margin: 0 20px 10px 20px;
  background: #1C2331;
  margin-top: 5px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}
.contact .gitbub img {
  width: 15px;
}
.contact .phone img,
.contact .phone span,
.contact .github img,
.contact .github span,
.contact .gmail img,
.contact .gmail span,
.contact .address img,
.contact .address span {
  display: inline-block;
  vertical-align: middle;
}
.contact .phone img,
.contact .github img,
.contact .gmail img,
.contact .address img {
  padding-right: 2px;
  height: 14px;
}
.skill,
.hire,
.experience,
.education {
  padding-bottom: 10px;
}
.box-main {
  padding: 7px 20px 20px;
   font-family: 'Rosarivo', serif; 
   font-size: 14px;
   font-weight: 500;
}
.skill .content,
.hire .content,
.experience .content,
.header_content .content,
.education .content {
  padding-bottom: 8px;
}
.box-main_left,
.box-main_right {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.box-main_left {
  border-right: 2px solid #1C2331;
  padding-right: 20px;
  position: relative;
}
.box-main_left:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: -6px;
  background: #1C2331;
  transform: rotate(45deg);
}
.box-main_left:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  right: -6px;
  background: #1C2331;
  transform: rotate(45deg);
}
.box-main_right {
  padding-left: 20px;
}
.professional-skill .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.professional-skill .title-1,
.experience .title-1 {
  font-size: 14px;
  color: #1C2331;
  font-weight: bold;
  padding-bottom: 10px;
}
.professional-skill > section {
  padding-bottom: 15px;
}
.professional-skill > section:last-child {
  padding-bottom: 0;
}
.professional-skill .rate {
  height: 12px;
  width: 40%;
  position: relative;
  border: 1px solid #1C2331;
  text-align: right;
}
.professional-skill .rate .result {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%;
  background-color: #1C2331;
}
.professional-skill .rate-css .result {
  right: 25%;
}
.professional-skill .rate-html .result {
  right: 25%;
}
.professional-skill .rate-js .result {
  right: 40%;
}
.professional-skill .rate-react .result {
  right: 65%;
}
.professional-skill .rate-node .result {
  right: 80%;
}
.professional-skill .rate-grunt .result {
  right: 60%;
}
.professional-skill .rate-sublime .result {
  right: 35%;
}
.professional-skill .rate-gimp .result {
  right: 80%;
}
.professional-skill .rate-gitlab .result {
  right: 55%;
}
.item-skill .content {
  padding-bottom: 3px;
}
.time {
  font-size: 12px;
  text-transform: lowercase;
  font-family: 'Lato', sans-serif;
}
.infor-company {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.uppercase {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.link {
  color: #1C2331;
}