include ../mixins/all
footer.footer
  .footer_logo
    .logo
      img(src="../images/logo-sinfor.png")
    .title sinfor travel
  .footer_social
    a(href="#")
      i.icon.icon-face
    a(href="#")
      i.icon.icon-twister
    a(href="#")
      i.fa.fa-google
    a(href="#")
      i.fa.fa-youtube
  .footer_message
    .title SIGN UP FOR MESSAGES AND RESORT PROMOS
    .form
      input(type="email" placeholder="Input your email" name="email" ).btn.btn--email
      input(type="button" value="Sign up").btn.btn--button
  .footer_copyright
    span © 2018 Copyright: SinFor Travel

        
