
.intro
  .title why choose sinfor travel?
  .content
    .left Within easy reach of Victoria, Port Renfrew is welcoming, affordable, and as wild as you like. Here, you live through your senses: Cedar. Sea spray. Wood smoke. You move with the seasons, currents, and tides
    .right This is your gateway to ancient forests, epic hikes, and mighty surf — from eagles and Chinook salmon to Sitka spruce and giant Douglas fir. From here, you can trek, paddle, comb the beaches, or cast your line.
