.photo-container
  .icon
    .fa.fa-camera-retro
  .title # sinfor travel
  .images
    .images_item
      .content
        img(src="../images/hinh-1.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-2.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-3.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-4.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-5.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-6.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-7.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-8.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-9.jpg" title="sinfor travel")
      .content
        img(src="../images/hinh-10.jpg" title="sinfor travel")
  .feature
    .feature_item
      .title-feature Places To Stay
      p 
        a(href="#" title="") Seaside Cottages
      p 
        a(href="#" title="") Wild Renfrew Lodge
      p 
        a(href="#" title="") Wild Coast Cottages
    .feature_item
      .title-feature food & drink
      p 
        a(href="#" title="") Renfrew Pub
      p 
        a(href="#" title="") Coastal Kitchen
    .feature_item
      .title-feature things to do
      p 
        a(href="#" title="") Wild Renfrew Adventures
      p 
        a(href="#" title="") Explore port renfrew
    .feature_item
      .title-feature getting here
      p 
        a(href="#" title="") Driving From Victoria
      p 
        a(href="#" title="") Pacific Marine Circle Route
      p 
        a(href="#" title="") Road Conditions
      p 
        a(href="#" title="") Bus or Boat
