.review
  .review_vehicle
    .fa.fa-bus
  .review_content
    .title # PLAY IN TRUE NATURE
    .text This is the place West Coasters come to feel West Coast, to be surround with the things that define us – things we carry deep inside. Wilderness runs in our veins. With our brand new Adventure Centre, you can book your West Coast excursions right on-site. Go whale watching, paddle the estuaries, tour the tall trees by foot, or hit the pavement on an e-bike. Wild Renfrew is yours to discover.
    button(type="button") Read More
.img-parallax
