.video_container
  .video_container-logo
    .logo SF
  .video_container-content
    .title watch video
    .text Experience the pleasure of the sea
    .fa.fa-play-circle
  video(autoplay poster="" class="video-parallax" loop muted)
    source(src="../media/video1.mp4" type="video/mp4")