main {
  width: 100%;
  height: 800px;
  background: pink;
  font-family: sans-serif;
}
main .btn-menu {
  position: absolute;
  top: -20px;
  left: 50%;
  margin: 0 auto;
  height:40px;
  width: 40px;
  border: 1px solid black;
  background: white;
  transform: translateX(-50%) rotate(45deg);
  z-index: 10;
}

.navbar-nav:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-nav {
  display: none;
  width: 80%;
  margin: 0 auto;
  border: 2px solid white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navbar_item {
  float: left;
  width: 50%;
  border: 2px solid white;
  height: 250px;
  position: relative;
}
.navbar_item:first-child {
  background: #e91e63;
}
.navbar_item:nth-child(2) {
  background: #ffbb33;
}
.navbar_item:nth-child(3) {
  background: #2BBBAD;
}
.navbar_item:last-child {
  background: #33b5e5;
}

.navbar_item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.navbar_item .content .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.navbar_item .content .title {
  font-size: 2em;
  color: white;
  padding-top: 20px;
}
.intro {
  padding-top: 200px;
  padding-left: 50px;
}
.intro-item {
  padding-top: 5px;
}
.intro-item .item {
  text-transform: uppercase;
  padding: 20px;
  color: white;
  font-weight: bold;
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: 2em;
  text-align: center;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.intro-1 .item {
  background: #0099CC;
}
.intro-2 .item {
  background: #ffbb33;
}
.intro-3 .item {
  background: #ff4444;
}
.intro-4 .item {
  background: #2BBBAD;
}
.intro-5 .item {
  background: #1C2331;
}
